.allcards{
    display: flex;
    justify-content: space-between;

}
.trash-like-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.qty-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}